[FileSection]
store_inventory_file = /dropbox/folder/path/to/file.csv

[shopify]
api_key = XXXXXXXXXXXXXXXXXXXXXXXXX
api_pass = XXXXXXXXXXXXXXXXXXXXXXXXX
storename = store-name

[dropbox]
dropbox_app_name = QBtoShopifyInventorySync
dropbox_app_key = XXXXXXXXXXXXXXXXXXXXXXXXX
dropbox_app_secret = XXXXXXXXXXXXXXXXXXXXXXXXX
dropbox_access_token = 
dropbox_user_id = 

