[FileSection]
store_inventory_file = /QB POS Inventory Items Export.xls
archive_path = XX
max_age=14

[shopify]
api_key = XXXXXXXXXX
api_pass = XXX
storename = XXX

[dropbox]
dropbox_app_name = QBtoShopifyInventorySync
dropbox_app_key = XX
dropbox_app_secret = XX
dropbox_access_token = XX-XX-X
dropbox_user_id = XX

[report]
send_to=aXXX
send_from=aXX
username=XX
password=X
subject=QBtoShopifyInventorySync Report
path_to_send_script=/home/andys/shopinventory/sendemail.py
