[FileSection]
store_inventory_file = /QB POS Inventory Items Export.xls
archive_path = /flora/archive
max_age=14

[shopify]
api_key = c26c8470a10f2750c975706949f5ef31
api_pass = 5005cf4d35e0d1b2bcb26916c9737e8e
storename = charmingthemoon

[dropbox]
dropbox_app_name = QBtoShopifyInventorySync
dropbox_app_key = 0zv8i3mf03opx97
dropbox_app_secret = feggvvxpv15zbmo
dropbox_access_token = gyXL9D4BYRQAAAAAAAAAAb30KrPFKF5md5aA-UzNZeRvVVjH8K5V6UrflDMQP-bp
dropbox_user_id = 57272971

[report]
send_to=andys@florapdx.com,audrey@florapdx.com
send_from=andys@florapdx.com
username=andys@florapdx.com
password=oznlfyogezdfzise
subject=QBtoShopifyInventorySync Report
path_to_send_script=/home/andys/shopinventory/sendemail.py
